[2020-04-04 11:43] ShoGinn opened #1 "Awesome amd64 spin"
Just for clarification they did release the source.. I made attempts to change the source to be multi-arch but it was outside my scope:

https://github.com/mutability/rbfeeder

And the discussion on this source:

https://discussions.flightaware.com/t/exploring-radarbox24s-rpi-feeder/50045/11

[2020-04-06 00:53] mikenye commented on #1
Hi @ShoGinn, thanks for letting me know about the source. I actually saw this, but given it hadn't been updated since Sept 2019, I wasn't sure it was active.

Also, I don't understand the note at the beginning of the readme:

I'm not sure where to find the value of those variables... :)

I'll remove the bits about not having the source code from the README.md, and for now I think I'll just leave i

[2020-04-06 01:08] ShoGinn commented on #1
What I found with the source is that it’s so embedded in c that it is trying to get serial numbers of the arm processor. Not sure the intent on why they limited it so much.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-06 01:14] mikenye commented on #1
I'm not sure either. Given the qemu method seems to work OK (with the exception of MLAT which I'm working on), being able to compile `rbfeeder` from source is pretty low on my TODO list. :-)

Can I invite you to the adsbexchange discord server? I'm fairly active in the `#docker-help` channel in there and it might make it easier for us to chat about stuff like this. :)

[2020-04-06 01:15] ShoGinn commented on #1
I’m down. Shoot me an invite

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-06 01:27] mikenye commented on #1
Invite: https://discord.gg/9StvqG

[2020-04-06 03:53] mikenye commented on #1
Updated the README.md in aformentioned commit.

[2020-04-06 03:53] #1 closed

[2020-05-09 17:24] alexbogus opened #6 "Exec format Error"
Hi,

First of all, thanks for your time in maitaing this cool docker (and others that you have)
I'm trying to deploy the docker to feed to RadarBox, and I'm having the next error

[code]
My environment

- **Docker version**: 19.03.5
- **Docker-compose version**: 1.20.0-rc2
- **OS**: Ubuntu 64bits into a virtual machine (vmware)

Again, thanks for your time and the effort to maintain the docker
Reg

[2020-05-11 02:51] mikenye commented on #6
Hi @alexbogus, no problems mate.

I've just now tested the `mikenye/radarbox:latest` image on all supported architectures and it appears to be working ok.

Can you share your `docker run` command or your `docker-compose.yml` file so I can try to find out where the problem lies?

Thanks.

[2020-05-11 07:06] alexbogus commented on #6
Hi, thanks for help me with this issue
Here is my `docker run`

[code]

And this is the output:

[code]

Regards

[2020-05-11 07:24] mikenye commented on #6
Hi @alexbogus,

No problems.

Can I please ask for the following output from the host running docker:

- `docker image inspect mikenye/radarbox:latest`
- `uname -a`
- `docker run --rm -it --entrypoint file mikenye/radarbox:latest /usr/bin/rbfeeder`
- `docker run --rm -it --entrypoint rbfeeder mikenye/radarbox --version`
- `docker run --rm -it --entrypoint qemu-arm-static mikenye/radarbox -strace /

[2020-05-11 08:06] alexbogus commented on #6
Hi Mike,
I paste the output of the commands. Here's the info

Output of **docker image inspect mikenye/radarbox:latest**

[code]
The output of `uname-a`:
[code]
Output of **docker run --rm -it --entrypoint file mikenye/radarbox:latest /usr/bin/rbfeeder**

` /usr/bin/rbfeeder: ELF 32-bit LSB executable, ARM, EABI5 version 1 (SYSV), dynamically linked, interpreter /lib/ld-, for GNU/Linux 3.2.0, Buil

[2020-05-11 10:24] mikenye commented on #6
OK, I think I've fixed this problem. Can you `docker pull mikenye/radarbox:latest` and try launching your container again? Thanks.

[2020-05-11 10:26] mikenye commented on #6
Oh one other thing, your `TZ=Europe\Madrid` should be `TZ=Europe/Madrid` (note the forward slash). Cheers.

[2020-05-11 10:34] alexbogus commented on #6
It's works !!!
Many thanks for your support. what's was the problem?

The output is:

[code]

[2020-05-11 10:39] mikenye commented on #6
Yay!

Because RadarBox only supply ARM binaries, I’m using qemu in the container to run them on x86_64. On my development machine, I didn’t need to manually specify the qemu executable (as binfmt detects the arm binary and executed qemu automatically) so I didn’t notice this wasn’t working in the container. I’ve manually put some logic in the service script to manually launch qemu for x86_64.

Tha

[2020-05-11 10:51] alexbogus commented on #6
Thankyou to take time to attend me and resolve the issue.

[2020-05-11 11:05] mikenye commented on #6
You’re very welcome!

[2020-05-11 11:05] #6 closed

[2020-05-21 16:39] alexbogus opened #9 "Segmentation fault (core dumped)"
Hi Mike,

Me again, sorry for the inconvenience.
After a few days of working the docker, I appreciate in the logs a `segmentation fault`.

These are the logs
[code]
My apologies for the inconvenience
Thanks again four your support

Kind regards
Alex

[2020-05-22 04:52] mikenye commented on #9
Hi @alexbogus, no inconvenience mate, good to hear from you again.

Firstly, is your underlying host still this?:

[code]

Secondly, was this a once off or does it happen over and over continually?

Lastly, can you please post the output of `docker inspect rbfeeder` (you might need to change `rbfeeder` to your container name)?

Please santiside this output by censoring your `ALT`, `LAT`, `LONG` an

[2020-05-22 06:17] alexbogus commented on #9
Hi Mike,
Thanks for your support.

Output of my `uname -a`:

`Linux myhostname 5.4.0-29-generic #33-Ubuntu SMP Wed Apr 29 14:32:27 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

Output of my rbfeeder container:

[code]
Thank you for taking the time to help me
Kind regards
Alex

[2020-05-22 07:29] mikenye commented on #9
Is the segfault a once off or does it happen over and over continually?

[2020-05-22 07:30] alexbogus commented on #9
It's happen over and over continually

[2020-05-22 07:48] mikenye commented on #9
Are you able to post the output of `tail -100 /var/log/kern.log` ?

You may need to censor some of the information in this file... I'm looking for more information on what is causing the segfault.

Thanks.

[2020-05-22 08:11] alexbogus commented on #9
This is the output of `tail -100 /var/log/kern.log`

[code]

[2020-05-22 10:28] mikenye commented on #9
Hmm. I can’t see any helpful information in there. The next time you see a segfault could you capture the last 100 lines of `/var/log/syslog`, `/var/log/kern.log` and `dmesg`?

[2020-05-22 10:46] alexbogus commented on #9
I'm currently reviewing the logs, but I cannot not see any usefull information
But if I move to /`var/lib/docker/overlay2/<overlayID>/merged/run/s6/services/rbfeeder` I can see some qemu core dumps. Maybe those files could be useful

This is the output:

[code]
Maybe those file can be useful to debug?

[2020-05-22 10:51] mikenye commented on #9
Yes please, I’d like to have a look at them. Any way I can get hold of them? Do you need me to set up a drop box? You probably don’t want to post them publicly as they may contain sensitive info.

[2020-05-22 10:58] alexbogus commented on #9
I'll send you an email with the details to download the `coredumps`

Regards

[2020-05-23 13:36] mikenye commented on #9
Core analysis:

[code]

It looks like `rbfeeder` is segfaulting when trying to open a file?

I can see from your `docker inspect` that you have a bind mount for `/etc/rbfeeder.ini`:

[code]

Could you please post the contents of this file (censor your position & sharing key), and also the output of the command `stat /home/docker/adsb/radarbox/rbfeeder.ini`.

Thanks.

[2020-05-23 13:39] mikenye commented on #9
Could you also try running the container without the bind mount for `/etc/rbfeeder.ini`?

[2020-05-23 13:41] mikenye commented on #9
Could I also please have the output of `cat /sys/class/thermal/thermal_zone0/temp`? Thanks.

[2020-05-23 14:07] alexbogus commented on #9
Volume lines commented in `docker-compose`
[code]
And this is the output, another `Segmentation fault (core dumped)`

[code]

[2020-05-23 14:13] alexbogus commented on #9
My system It's working dockerized in a VM inside a ESXi Server (v6.5)

[2020-05-23 14:14] mikenye commented on #9
Could you SSH into the VM and run the command `cat /sys/class/thermal/thermal_zone0/temp`, and post the output?

[2020-05-23 14:34] alexbogus commented on #9
Here is the output of `stat /home/docker/adsb/radarbox/rbfeeder.ini`

[code]

SSh into the VM, and I can't see  ` /sys/class/thermal/thermal_zone0/temp`
I only can see In the /sys/class/thermal directory:

[code]

But doing a recursive search, I cannot find any temp files

[2020-05-23 14:48] mikenye commented on #9
Hi @alexbogus, I think the problem is with the missing `/sys/class/thermal/thermal_zone0/temp`.

Looking at the rbfeeder source code, searching the files for `fscanf` (shown as the source of the segfault by `gdb` above), we can see the following:

[code]
Reference: https://github.com/mutability/rbfeeder/blob/8f002217ffe5d5dffced9845bed117ffe2a95a0e/airnav.c#L2529

I think what's happenning is beca

[2020-05-23 14:56] mikenye commented on #9
Alternatively, you could try running the commands:

[code]

...which will "spoof" a temperature of 24 degrees C and hopefully fool `rbfeeder`. :)

[2020-05-23 15:11] alexbogus commented on #9
`mkdir -p /sys/class/thermal/thermal_zone0`
mkdir: cannot create the directory «/sys/class/thermal/thermal_zone0»: Operation not permitted

Ups, I'm trying to pass from host to virtual machine information about temperature.

[2020-05-23 15:16] mikenye commented on #9
OK try this.

[code]

Then add a bind mount to your docker-compose:

under ` - /home/docker/adsb/radarbox/rbfeeder.ini:/etc/rbfeeder.ini`, add:

[code]

Then recreate the container with `docker-compose up -d`.

[2020-05-24 09:16] alexbogus commented on #9
Trying the workaround:

`ERROR: for rbfeeder  Cannot start service rbfeeder: OCI runtime create failed: container_linux.go:346: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/home/docker/adsb/faketemp\\\" to rootfs \\\"/var/lib/docker/overlay2/5d6ed3cf951ef291336be45fc4dbc406f162d07309aa5f75f998c7a390b4a41c/merged\\\" at \\\"/var/

[2020-05-26 00:09] beercity opened #10 "Disk space usage"
Somehow this container consumed 49GB in 9 hours.

df -h shows:

[code]

I do not quite understand the sda2 mount, I looked at /etc/hosts, and the file is only a few k in size. Quite likely this is a Docker thing that I do not understand.

[code]

I am not sure if this is a container issue or an issue with the code from radarbox

I re-created the container and I will see what looks like in the morn

[2020-05-26 00:14] beercity commented on #10
Forgot Docker size output.  This Docker host has 64GB of storage so it hit the limit

`8d4f5bb4bad2        mikenye/radarbox:latest                         "/init"                  9 hours ago         Up 9 hours             30105/tcp, 32088/tcp                                                                                   rbfeeder                     48.8GB (virtual 49.1GB)`

[2020-05-26 02:58] mikenye commented on #10
Hi @beercity, I don't think this is a problem with the container.

I've had mine running for ~81 days and it's only using ~302MB.

[code]

Have you set up container log rotation? It is likely that logs for the container are filling up your disk. You can check this with the command:

[code]

To set up container log rotation within Docker, see: https://success.docker.com/article/how-to-setup-log-rot

[2020-05-26 03:07] mikenye commented on #9
Can you share your updated `docker-compose.yml` file? The workaround worked in my environment, although I already had the `/sys/class/thermal/thermal_zone0/temp` file present on my system...

Outside of the suggested workarounds, I'm not sure how to solve this problem without either:

- Modifying the `rbfeeder` source code (which I'm not able to do); or
- Somehow get CPU/system temperature into yo

[2020-05-26 03:09] mikenye commented on #10
Also, have you checked the container log? I know rbfeeder is pretty noisy normally, however is there something going on causing it to eat up disk space more than usual?

[2020-05-26 09:51] alexbogus commented on #9
Thanks Mike, I really appreciate your effort to help me with the issue. No problem if we cannot solve this issue.

This is my docker-compose.yml

[code]

[2020-05-26 11:38] beercity commented on #10
Thanks for the tip on log rotation.  I did not realize Docker was not doing this automatically, looks like an easy thing to implement.

Last night I looked at the logs and didnt catch it, but it looks like rbfeeder is crashing every minute and being extra noisy about it.  I am not sure how this ate 40GB in 9 hours, but here is a bit of logs.  Note seg fault entries

[code]

[2020-05-26 12:05] beercity commented on #10
Looks like the seg fault is already covered under issue #9

The disk space getting eaten up is not logs though.  After ~30 minutes, the container is 3gb, but the log file is only 284182 bytes.  It is the core dumps that are eating the disk space.  88mb each.

Let me know if I can provide any additional help with issue #9

[2020-05-26 12:13] mikenye commented on #10
Hi @beercity,

I’d suggest taking a look at: https://github.com/mikenye/docker-radarbox/issues/9#issuecomment-633068833

The issue for the segfault is a hard coded entry in the rbfeeder source code to a thermal sensor file, with no error handling if the file doesn’t exit.

You could try the workarounds I gave Alex in issue #9...

If you have any ideas on how to fix this (without playing with the r

[2020-05-26 12:23] beercity commented on #10
Yep I am running into the same issue as Alex.  Looks like unless Radarbox will fix the issue, maybe running a job to autodelete the coredump files is a dirty fix?  I am seeing good data in my RB account, so the faults are not totally preventing the container from working.

[2020-05-26 12:39] mikenye commented on #10
You could try running the ulimit command in the container.

Try “ulimit -c 0”, which should reduce the number of allowed core dumps to zero.

If this helps, I’ll add it to the image.

[2020-05-26 13:33] beercity commented on #10
I added the below to my docker-compose, seems to have stopped the generation of core dumps.
I did ask Radarbox if they would consider releasing code for other platforms, not sure if they take suggestions or not
[code]

[2020-05-27 15:26] alexbogus commented on #10
Hi, all

@beercity Hi, I'm having the same issue
@mikenye thanks for the tip to use `ulimit -c 0,` this works for me ok. It's a good workaround since RB solves the issue with the thermal sensor hardcoded.

[2020-05-27 15:27] beercity commented on #10
Radarbox was receptive to my suggestion to release an x86_64 version.  They gave no commitment on actually doing it, but it might help for anyone with this issue to nicely ask them to release this version.

[2020-05-27 21:57] mikenye commented on #10
Excellent work!! It would be ideal if we can get x86 and aarch64 versions. Thanks for getting in touch with them.

[2020-05-28 12:10] beercity commented on #10
Consider this issue closed as no further resolution is possible until Radarbox releases new code.

[2020-05-28 12:10] #10 closed

[2020-05-28 12:23] alexbogus commented on #9
Consider this issue closed as no further resolution is possible until Radarbox releases new code.

[2020-05-28 12:23] #9 closed

[2020-06-11 00:43] echoz opened #12 "Missing /init"
Having issues starting radarbox. I'm pulling the latest from docker hub.

[code]

Inspecting the image itself, it does seem that `/init` is missing.

[2020-06-11 01:32] mikenye commented on #12
Hi @echoz, I've made some code changes to how the architecture is detected during the build process, and this looks to have resolved the problem.

Furthermore, I've added a test in the Dockerfile to make sure an `/init` exists, which will prevent an image from being pushed without `/init` in future.

[code]

Can you re-pull the latest version of the container, test and let me know if this has solv

[2020-06-11 01:45] echoz commented on #12
It works! Thank you for looking into this so quickly!

[2020-06-11 01:45] #12 closed

[2020-06-11 01:52] mikenye commented on #12
No worries! Thanks for reporting the issue.

[2020-06-16 21:52] avgeeklucky opened #16 "Segmentation fault (core dumped)"
Not entirely sure how to debug this, but rbfeeder keeps restarting due to a Segmentation fault (see Container Output).

I'm running docker community edition version 19.03.9 on Debian stretch with an AMD64 CPU. Container setup using docker-compose 1.24.1.

<details><summary>docker-compose.yaml</summary>
<p>

[code]
</p>
</details>
<details><summary>Image Details</summary>
<p>

[code]
</p>
</details

[2020-06-16 22:35] mikenye commented on #16
Hi @avgeeklucky,

Have a read of this comment onwards:

https://github.com/mikenye/docker-radarbox/issues/9#issuecomment-633068833

Short version is that the `rbfeeder` code is trying to access a temperature sensor that may not exist on your system (as `rbfeeder` is really only designed to run on a pi) which causes a segfault.

Unless you can somehow “spoof” this sensor or get it working, without

[2020-06-16 23:56] avgeeklucky commented on #16
Have now. Sorry, completely missed that. Had a look into the spoofing option, /sys does not like to be messed with, that's not going to be easy.

Oh well, I'll just let it crash for now.

[2020-06-16 23:56] #16 closed

[2020-07-23 18:44] visibilityspots opened #24 "missing healthcheck"
seems like the healthcheck.sh script is missing in this image;
[code]

[2020-07-23 19:50] mikenye commented on #24
Are you running the latest version of the container?

armv7l:
[code]

aarch64:
[code]

amd64:
[code]

[2020-07-24 07:34] visibilityspots commented on #24
my bad, had to force pull the latest image and now the file isn't missing anymore. Apologies for the inconvenience!

[code]

[2020-07-24 07:34] #24 closed

[2020-07-24 09:36] mikenye commented on #24
No worries at all!

[2020-07-27 13:17] beercity opened #25 "s6-dnsip4: fatal: unable to resolve"
Having an issue with the latest build, getting error
`s6-dnsip4: fatal: unable to resolve 192.168.1.1: no such domain`
on container creation

My docker-compose.yml is the same one I was using successfully on the older build
Looks like there is someone on Reddit having the same issue as well.

[code]

[2020-07-27 23:36] mikenye commented on #25
This should be fixed. Please pull the latest version of the image and let me know if there are any problems. Thanks.

[2020-07-27 23:58] beercity commented on #25
That did the trick thank you!

[2020-07-27 23:58] #25 closed

[2020-08-11 03:27] speedst3r opened #29 "64-bit ARM binaries"
Looks like Radarbox now make 64-bit ARM binaries available, and a user on FA discussions has a 64-bit MLAT client.

https://discussions.flightaware.com/t/howto-install-piaware-3-8-1-on-64-bit-raspbian-os-pi4/65477/26?u=abcd567

Raising issue as per README.md 😁

[2020-08-11 03:28] mikenye commented on #29
Hi @speedst3r, thanks for the info. I'll take a look at this asap.

[2020-08-12 02:04] mikenye commented on #29
Hi @speedst3r, if you pull the latest version of `mikenye/radarbox:latest`, this uses native 64-bit ARM binaries (if you run on an ARM64 platform). Thanks!

[2020-08-12 02:04] #29 closed

[2020-08-12 02:15] speedst3r commented on #29
Thanks, still waiting for my SDR and antenna to arrive but have my K8s manifests ready to go.

(good to see a fellow WA station!)

[2020-08-17 04:00] mikenye opened #31 "stats script missing output"
Stats script appears to be missing "total packets since container start":

[code]

[2020-08-18 12:25] mikenye commented on #31
Resolved via PR #32

[2020-08-18 12:25] #31 closed

[2020-09-27 12:12] jayp0 commented on #16
mount to /sys/class/thermal instead of /sys/class/thermal/thermal_zone0/temp fixed it.

[code]
[code]

[2020-09-29 01:12] mikenye commented on #16
Fantastic solution, thanks @jayp0

[2021-03-17 18:25] cwagar opened #37 "Buffer Overflow Detected"
vanilla new setup following latest Gitbook HOWTO (March 16, 2021)

rbfeeder is setup with both Radarbox and configured in .env and .yaml according to instructions.

Throws constant Buffer Overflow Detected errors as follows:
[code]

All other containers are working properly (1090 and 978) and feeding data to sites as expected.

Thank you.

[2021-03-17 18:39] cwagar commented on #37
Also, RB24 site is showing my aircraft positions.

[2021-03-20 00:09] mikenye commented on #37
Hi @cwagar,

I can reproduce this error if I intentionally set my `SHARING_KEY` too long. Can you please ensure your sharing key is set correctly, without any quotes around it?

[2021-03-24 05:16] mikenye commented on #37
I'm going to close this one out as stale. @cwagar if you still have problems let me know and we can re-open.

[2021-03-24 05:16] #37 closed

[2021-03-24 23:18] ravenium opened #38 "Docker container incremental update breaks qemu"
This can probably be closed, but I figured I'd toss it on here in case someone ran into it.  For some reason about 18 hours ago a new image deploy (ugh, thanks ouroboros) totally hosed my rbfeeder with the below error.  I think it's a golang arch mismatch.  Wiping and repulling the container from scratch this afternoon seemed to fix it, so maybe it was an incremental issue?

standard_init_linux.go

[2021-03-25 00:07] mikenye commented on #38
Hi @ravenium,

The "exec format error" is usually caused when running a container built for the wrong architecture. I'm wondering if ouroboros did this by mistake?

I'd suggest that you try the architecture-specific release of the container to prevent this from happenning.

[2021-03-25 00:16] ravenium commented on #38
Ahh, good call - I wonder if it queries arch from the container itself (in which case it would say it's arm) and then since :latest means different things depending on platform...yeah.

Cheers!

[2021-03-25 00:16] #38 closed

[2021-05-25 16:24] kx1t opened #39 "Add UAT support"
Hi Mike,

RB has started a push for people in the USA to add UAT feeds. They are emailing/giving away UAT dongles and antennas to improve their coverage.
As such, it would be great to add UAT to the capabilities of the container.

It looks like the RadarBox software expects an on-device dump978 instance for this, so you may have to create a SOCAT or similar to connect to your dump978 container.

H

[2021-05-25 17:17] tedder commented on #39
interesting, I just dropped them an email in response to that RB email.

[2021-05-28 03:38] luciodaou opened #40 "Can't generated valid Feeder ID (timeout)"
Hi Mike,

I'm having an issue setting up a new receiver based with and amd64 processor (actually an old dell PC with Ubuntu 20.04). I followed the new guide, but it didn't work. (BTW, there's probably an error on the first line, should be `radarbox` instead of `piaware`, right?)

[code]
After running it without any Feeder ID declared on `.env` and no mention to rbfeeder cointainer on `docker-compo

[2021-06-11 07:10] mikenye commented on #40
Running the command to generate the sharing key is simply designed to connect to radarbox and generate a sharing key, and that's it.

The command you've shown just runs the feeder for a minute, which is enough time for it to generate the sharing key and then quit.

I can see in your output above, that you have been granted a sharing key. You can ignore all the other errors - that's normal. The onl

[2021-06-11 07:38] mikenye commented on #39
Hi All,

I have a branch that should now (hopefully) have UAT support. I have no way to test this as I am located in Australia and UAT is not used here.

https://github.com/mikenye/docker-radarbox/tree/add_uat

If you could clone and build the image, then add environment variables `UAT_RECEIVER_HOST` and optionally `UAT_RECEIVER_PORT` (30979), it should hopefully work.

If someone could please tes

[2021-06-11 08:10] mikenye commented on #39
# Testing process:

### Clone Repo Locally

[code]

### Update Your `docker-compose.yml`

From:

[code]

To:

[code]

### Build Image

In the folder that contains your `docker-compose.yml` file (usually `/opt/adsb`), run `docker-compose build`, and wait for the build to finish.

### Run Image

In the folder that contains your `docker-compose.yml` file (usually `/opt/adsb`), run `docker-compose up

[2021-06-11 08:42] mikenye commented on #39
If you're testing, once you're running the testing image, please run:

[code]

Then, run the following and post the outputs:

[code]

Thanks.

[2021-06-11 20:00] mikenye commented on #39
I’ve had feedback from users that the test branch works, so I’m going to go live with this.

[2021-06-14 09:17] #39 closed

[2021-06-14 18:28] tedder commented on #39
![Screenshot from 2021-06-14 11-27-45](https://user-images.githubusercontent.com/97914/121941010-9b5b9b00-cd03-11eb-8f3b-6065679453a4.png)

works for me on 'main'.

[2021-06-14 20:43] tedder opened #43 "mlat-client doesn't work with mlathub"
Problem: radarbox claims I've sent zero MLAT messages.

I'm using readsb-protobuf for incoming and a second instance for the mlathub. So I _think_ this doesn't send messages because there is only one BEASTHOST config entry. I mean, [rbfeeder uses BEASTHOST](https://github.com/mikenye/docker-radarbox/blob/0c3fd4f68fc9cae78f0458c20b837a2696b36c71/rootfs/etc/cont-init.d/01-rbfeeder#L14) and [mlat-cli

[2021-06-15 02:12] luciodaou commented on #40
Hi Mike,

The problem is that the generated IDs are never validated on RB website. Looks like it needs some real data to be sent to Radarbox, the logs show "0 packets sent".

[2021-06-15 02:25] mikenye commented on #40
Hi @luciodaou,

Did you go to https://www.radarbox.com/raspberry-pi/claim and claim your feeder?

I just went through the process, and have confirmed that it works:

[code]

![image](https://user-images.githubusercontent.com/6915079/121983450-ef2db900-cdc3-11eb-8aea-fecad35db5f0.png)

[2021-06-15 02:54] mikenye commented on #39
Thanks @tedder!

[2021-06-16 09:05] 76rhodan opened #44 "Update container to rbfeeder v0.4.2"
I got a mail (added below) from RB, announcing a new build for rbfeeder. As the weather data is pulled from the ADSB data and no extra hardware is required, maybe it's worthwhile to supply them with the extra data :-)

[2021-06-16 11:21] mikenye commented on #44
It looks like RB forgot to change the version in the binary…

[code]

Maybe instead of getting the version of rbfeeder from the binary, I need to get it from the package info…

[2021-06-16 12:41] #44 closed

[2021-06-27 07:40] scottwallacesh opened #49 "/usr/bin/rbfeeder: cannot execute binary file: Exec format error"
v0.4.2 (I think) Docker image isn't working correctly and fails its healthcheck.  Logs show a problem with `rbfeeder` executable format:
[code]

[2021-06-27 07:44] scottwallacesh commented on #49
I'm running on x86_64.

[2021-06-27 07:54] scottwallacesh commented on #49
Looks like it's not running `qemu-arm-static` for `x86_64` correctly.

This appears to get it working again:
[code]

[2021-06-27 09:01] mikenye commented on #49
Merged, thanks for the PR. Appreciate it.

[2021-06-27 09:01] #49 closed

[2021-06-27 09:08] scottwallacesh commented on #49
No problem.

[2021-06-27 11:29] fredclausen commented on #49
Sorry, I messed that one up.

[2021-06-27 11:31] mikenye commented on #49
@fredclausen you have nothing to apologise for mate. You got MLAT working. :-)

[2021-06-28 01:56] mikenye commented on #43
Hi @tedder, there were a couple of PRs related to MLAT over the weekend. Could you pull the latest version and see if that helps?

[2021-06-28 01:56] #40 closed

[2021-06-28 03:09] tedder commented on #43
I can, but I don't see how those diffs would change anything- there's no way to separate the beast and mlat hosts.

[2021-07-04 12:03] mikenye commented on #43
Hi @tedder, I might have misunderstood your original issue.

The purpose of mlathub is not to send MLAT messages to feeder containers. It's purpose is to collect the MLAT positions so you can visualise them in your visualtion tool of choice (eg: tar1090).

Radarbox has a lot of MLAT related issues that are no (as far as we can tell) related to the docker container. Reports of no MLAT positions, ML

[2021-12-31 02:33] fotomut commented on #37
For others encountering this issue, I just wanted to share that I had the same problem when setting up my radarbox feeder. I had an extra, invalid character at the end of my `RADARBOX_SHARING_KEY` in my `.env` file.

[2022-01-26 02:06] toddy47 opened #59 "qemu: uncaught target signal 11 (Segmentation fault) - core dumped - on new PC"
Hi Mike,

I recently retired my old server which was running my ADSB system, I had Radarbox running without any issue (had multiple instances for different receivers). Now when I try to build config on the new system, it constantly gives segmentation faults and as a result doesn't load up.

I tried again on another system and ran into the same problem, I even spun up another docker with the latest

[2022-01-26 03:14] mikenye commented on #59
Hi @toddy47, have you implemented this segfault fix: https://github.com/mikenye/docker-radarbox/issues/16#issuecomment-699627387 ?

[2022-01-26 03:16] mikenye commented on #59
More info here: https://mikenye.gitbook.io/ads-b/feeder-containers/feeding-radarbox

[2022-01-26 04:27] toddy47 commented on #59
Thanks Mike, this indeed solves the issue. I am bit perplexed as to why the original system did not have this fix implemented and had no problem.

Because I have multiple containers for the same websites (IE: 4x receivers) I created a volume with the segment fix and mounted on all of them, seems to be working now.

[2022-01-26 04:27] #59 closed

[2022-01-26 04:51] mikenye commented on #59
It might just be differences between CPUs/architectures. The rbfeeder code really should handle the situation better. :-)

Glad it fixed the problem for you.

[2022-02-03 11:29] #43 closed

[2022-02-22 14:26] labuwx opened #75 "Bring back MLAT_INPUT_TYPE"
Hi,

The `MLAT_INPUT_TYPE` variable was added in #17 but removed in #48.
I use a `radarcape_gps` style receiver, for which I would need to change this parameter.

Can you please add back this variable?

[2022-02-23 02:22] mikenye commented on #75
I'd like to, but I'm not sure `rbfeeder` will support it.

Looking at their newly released source code, this line appears to be what starts mlat_client:

https://github.com/AirNav-Systems/rbfeeder/blob/3d9e53320e792251982d4ead14c19aadd54541b0/airnav_mlat.c#L56

[code]

As you can see, `--input-type` is hard-coded to `dump1090`.

We would need AirNav to be able to read the input type from rbfeeder.

[2022-02-24 01:31] IXEguy opened #77 "Invalid sharing-key"
Got readsb running on a pi standalone & fr24, adsbx and fa running in docker yesterday.

Tried to add rbfeeder to the mix and I keep running into this issue. (followed [this](https://mikenye.gitbook.io/ads-b/feeder-containers/feeding-radarbox))

I've tried about 10 times now & waited 5,10,15 minutes after getting the key to  check the claim page & it always says Invalid sharing key in the logs & o

[2022-02-24 02:17] mikenye commented on #77
Do you have quotes around your sharing key in your docker-compose.yml file? If so, remove them and see if that helps.

Alternatively, are you able to jump onto our discord server and PM me with your sharing key so I can try to replicate the issue?

Thanks.

[2022-02-24 02:50] mikenye commented on #77
Also I just noticed the double timestamping in your logs. I'll fix this.

[2022-02-24 19:34] ravenium opened #78 "dump978 support?"
Hello,

RB has been sending out a lot of ULAT/978 antennas (basically just rtlsdrs with a nice antenna).  I'd love to try to get docker-radarbox to play nice with the rest of the docker-compose formation and pull 978 info, but am not 100% sure what's involved since RB's documentation is a little opaque and assumes you're running a pi.

I'll dig into it, but has anyone come across a working solutio

[2022-02-24 19:39] mikenye commented on #78
Hi @ravenium,

1. Re-serialise your SDR if required, as per: https://mikenye.gitbook.io/ads-b/setting-up-rtl-sdrs/re-serialise-sdrs
2. Deploy a dump978 container as per: https://mikenye.gitbook.io/ads-b/foundations/deploy-dump978-usa-only
3. Add `      - UAT_RECEIVER_HOST=dump978` to the `environment:` section of your radarbox container.

That should be all that's required.

Let me know how you go

[2022-02-24 19:50] ravenium commented on #78
Thanks @mikenye - looks like I guessed right for most of the steps :)  (and shame on me for not scrolling down on the container's git page)

Looks like I don't need to add   UAT_RECEIVER_TYPE=relay, since that's a flightaware env var?

Other than that, looks like I've got some antenna positioning fun in my future.

[2022-02-24 19:52] mikenye commented on #78
No you shouldn't need to add that extra variable.

If you run into problems please let me know. The 978 stuff is largely untested by me, as it's not in use where I live.

[2022-02-24 19:57] ravenium commented on #78
Will do, thanks again.  Radarbox has a nice packet summary per-type, per-day so I'll keep an eye out.

[2022-02-24 19:57] #78 closed

[2022-02-24 19:58] mikenye commented on #78
You’re welcome mate. :-)
Good luck.

[2022-02-27 18:14] kapiorr commented on #77
Is problem solved? I have a same issue.

[2022-02-27 18:24] IXEguy commented on #77
I ended up switching to using radarbox standalone, and that's been working.

However, I am running on an older version on `buster`, not the latest
version on `bullseye`.

Been in touch with Mike. Will try switching over to `1.0.7` standalone (vs
docker) instead of the `0.4.3` later today to see if that works.

On Sun, Feb 27, 2022, 10:14 AM kapiorr ***@***.***> wrote:

[2022-03-03 03:24] mikenye commented on #77
From what I can gather, the issue is with radarbox. I can't personally replicate the issue, yet it seems to affect some people almost at random. I would suggest reverting to the older version of the container and try again when radarbox release a newer version of rbfeeder... You can revert to the previous version of the container by using tag `mikenye/radarbox:0.4.3-20210909231001`.

[2022-03-03 03:39] jejenone commented on #77
For what it's worth, I was having the same issue until I end up here. I have used `mikenye/radarbox:0.4.3-20210909231001` to get a new sharing key accepted and it finally worked.
I can use `latest` after my key is accepted.

[2022-03-03 04:23] mikenye commented on #77
From our Discord discussions regarding this:

The old version (binary release 0.4.3) connects to: `rpi.rb24.com`.
The new version (compiled source code from github repo) connects to `rpiserver-ng.rb24.com`.

Posting here for posterity.

[2022-03-03 05:04] mikenye commented on #77
For anyone having problems, could you please try removing the CPU serial workaround. I've had some reports in Discord that disabling the CPU workaround for the new `rbfeeder` version seems to correct the problem.

[2022-03-03 05:32] mikenye commented on #77
I can confirm the feeder works correctly after removing the CPU serial number and temperature sensor workarounds.

[2022-03-03 18:21] kapiorr commented on #77
How I can remove CPU serial number and temperature sensor from pulled docker image?

[2022-03-04 06:19] mikenye commented on #77
Remove the `volumes:` section from your container definition in your compose file.

[2022-03-10 05:07] IXEguy commented on #77
Tried it with just the one volume;
[code]
and no volumes with no luck. Also, pulled latest image from docker just to be sure.

[code]

[2022-03-13 10:25] ON6PH opened #82 "Unable to get a sharing key"
I am trying to get Radarbox working but seem te get stuck at getting a sharing ID. Here's my output:

root@T630-Ubuntu:/opt/adsb# docker-compose logs -f | grep rbfeeder
Attaching to rbfeeder, tar1090, fr24, piaware, adsbx, readsb
rbfeeder    | [s6-init] making user provided files available at /var/run/s6/etc...exited 0.
rbfeeder    | [s6-init] ensuring user provided files have correct perms...exit

[2022-03-14 09:41] mikenye commented on #82
Duplicate of #77

[2022-03-25 03:50] mikenye commented on #82
Thanks @ON6PH, this is helpful information. I'll leave this issue open in the hopes that new users will find it.

[2022-03-25 03:50] mikenye commented on #77
See #82 for a workaround.

[2022-03-29 19:52] IXEguy commented on #77
Finally got the chance & tried the solution from #82 and I am getting the following issue:
[code]
Not sure if `qemu: uncaught target signal 11 (Segmentation fault) - core dumped` is related, or a separate issue.

Current docker-compose.yml snippet for this container:
[code]

I tried pulling the latest radarbox image from the 18th and the issue still persists with that one as well.

[2022-03-30 00:43] mikenye commented on #77
@IXEguy I believe for the old 0.4.3 version to function correctly, you'll need to implement the temperature sensor workaround outlined here: https://github.com/sdr-enthusiasts/docker-radarbox/tree/26a6bb28398c743f69b7d86479e00f07f1fafec6#workaround-for-temperature-sensor

[2022-04-16 15:32] IXEguy commented on #77
Sorry, forgot to add that back.

Finally got the chance to try it out today & it accepted my key that I was using on the Pi.

[code]

So, it works with `mikenye/radarbox:0.4.3-20210909231001` but not with `mikenye/radarbox:latest` or `ghcr.io/sdr-enthusiasts/docker-radarbox:latest`

[2022-04-17 03:52] mikenye commented on #77
Good news @IXEguy, thanks for your patience with this.

[2022-07-20 07:26] scottwallacesh opened #96 "`Can't connect to AirNav Server.` on Docker build v1.0.7-20220719091600"
Upgrading to `v1.0.7-20220719091600` results in being unable to connect to the AirNav Server.

I don't know what server it's trying to connect to but reverting the deployed container to `v1.0.7-20220716141600` resolves the problem.

[2022-07-20 12:41] fredclausen commented on #96
It seems to be an issue on their end. If you give it time the issue appears to resolve itself.

[2022-07-20 12:53] #96 closed

[2022-07-20 12:56] scottwallacesh commented on #96
Must have just been 'luck' that when I rolled back it was able to connect to the server.  I can now connect (after a couple of container restarts) using the latest image.

It would be helpful to know what address is being connected to so that we can diagnose the problem better on our end.

[2022-07-20 13:05] fredclausen commented on #96
I doubt it was 'luck' :) They probably changed something in their binary that was causing problems.

Unfortunately rb_feeder has kind of always been a pain; the actual software used is closed source and good luck getting any support from them. It's kind of always been that way. I took a quick look through the configuration files and there appears to be no configured address anywhere. `netstat` in

[2022-07-28 08:06] echoz opened #98 "rbfeeder reports that I cannot connect to AirNav Server"
Not sure what I can provide to help better figure this one out, but I guess starting with logs help.

[code]

Docker-compose.yml

[code]

[2022-07-28 08:08] echoz commented on #98
I can netcat from within the container to various sites, including `rpi.rb24.com` but not sure why `rbfeeder` just can't connect

[2022-08-06 08:40] doctaste opened #99 "Could not start connection. Timeout."
I'm having issues connecting to radarbox since a while.

[code]

It worked fine for a while, but then it stopped to work.I'm under the impression that Airnav does some IP blocking for whatever reason.When i change my public IP to a new one ( i'm using VPN), then it is working again, but only for a while ( can be 4 days, but also sometimes only a few hours).Once this happened with a certain public

[2022-08-18 18:50] magnum61 commented on #99
Just installed the docker image on a fresh system for my existing RB Feed (using an existing sharing key).

But i do have the same issue while it is working on a raspberry native.

I am using a Jetvision Radarcape device as source and added the correct IP/Port.
The Radarcape detected the connect to it's port correctly, so this is not the root cause.

Any help would be appreciated.

[2022-10-27 12:00] yitzyb commented on #99
just heard from airnav support that the latest version does not support containers.  waiting for an update from them if there is a solution

[2022-11-22 07:38] yitzyb commented on #99
This is now resolved as of yesterday (21-Nov).  As far as I know there were no changes to the container.

[2022-11-22 19:11] magnum61 commented on #99
Nope, not or me. Same problem

[code]

[2022-11-26 17:46] skybarberom commented on #77
I'm facing the problem described. Is there a newer version of the docker that I can use to get a good key? With the older versions I have a dump